<h1 class="display-1">Olya Rybenchuk</h1>
<div class="container"><p style = "color: #444">I have graduated from IT STEP Academy and have a diploma.</p></div>
<div class="container"><p style = "color: #444">Studied at IPPT college for two years and then got into the IoT program at Lviv Polytechnic National University, where I`m currently getting a degree.</div>
<div class="container">Accomplished Design Thinking course on Prometheus and have a certificate. </div>
<div class="container">I play piano, graduated from Lviv Music School №6, and have a diploma.</div>
